fastapi>=0.104.1
uvicorn>=0.24.0
python-jose>=3.3.0
passlib>=1.7.4
python-multipart>=0.0.6

torch==2.7.1
transformers==4.54.1
Pillow==11.3.0
faiss-cpu==1.11.0.post1

chromadb>=0.6.3
chroma-hnswlib>=0.7.3

langchain>=0.3.0
langchain-community>=0.0.10
langchain-openai>=0.3.3
langchain-chroma>=0.0.5
langchain-qdrant>=0.2.0
langchain-deepseek==0.1.1
langchain-ollama==0.2.3

openai>=1.30.0

git+https://github.com/openai/CLIP.git
